@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap';

* {
	box-sizing: border-box;
}

:root {
	--color-accent: #7dc3ff;
	--color-accent-25: color-mix(in srgb, var(--color-accent), transparent 75%);
	--color-accent-50: color-mix(in srgb, var(--color-accent), transparent 50%);
	--color-background: #202020;
	--color-text: #d0d0d0;
	--color-link: var(--color-accent);
	--font-ui: system-ui;
	--font-content: 'Roboto', sans-serif;
	--font-monospace: 'Ubuntu Mono', monospace;
	color-scheme: dark;
	accent-color: var(--color-accent);
}

body {
	margin: 0;
	font-family: var(--font-ui);
	color: var(--color-text);
	background-color: var(--color-background);
}

a {
	color: var(--color-link);
}

::selection {
	background-color: var(--color-accent-25);
}
